extends ../../layout/layout.pug

block content
  .zq-ui-container-box
    #zq-workflow-id= 88888

    #po-id(text="垃圾的死了", title="快快离开", style= "width: 100px;height: 40px;background-color: #ccc;color: white;text-align: center;line-height: 40px;")