
extends ../../layout/layout.pug

block content
  .zq-normal-banner
  .zq-tools-content
    .zq-tools-list.zq-row
      each val, index in toolsList
        .zq-tools-item.zq-col-xs-12.zq-col-sm-8.zq-col-md-6.zq-col-lg-4.zq-col-xl-3.zq-col-24
          a.card.zq-tools-item-box.clearfix#itemA
            .zq-tools-item-icon
            .zq-tools-item-con(title= lang.tools[val.key].title)
              .zq-tools-item-title.one-line-ellipsis= lang.tools[val.key].title
              .zq-tools-item-version= lang.tools[val.key].version
              .zq-tools-item-date= lang.tools[val.key].date
    .list-container
      .zq-swiper-container
          each val, index in [1,2,3,4,5,6,7,8,9]
            .zq-swiper-slide
              .zq-slide-box= val


  