
extends ../../layout/layout.pug

block content
  .zq-normal-banner
  .zq-tools-content
    .zq-tools-item-box
      each val, index in toolsList
        a.zq-tools-item.ibm
          .zq-tools-item-icon= val.key
          .zq-tools-item-con
            .zq-tools-item-title= lang.tools[val.key].title
            .zq-tools-item-version= lang.tools[val.key].version
            .zq-tools-item-date= lang.tools[val.key].date
          


  