@import '../../css/header.less';

.zq-tools-content {
  margin: 20px;
  background: @white;
  border-radius: @card-border-radius;
  padding: 10px;
  border-left: 1px solid @color-e;
  border-top: 1px solid @color-e;
  border-right: 2px solid @color-e;
  border-bottom: 2px solid @color-e;

  .zq-tools-list {
    .zq-tools-item {
      padding: 5px 6px;

      .zq-tools-item-box {

        .zq-tools-item-icon {
          width: 70px;
          height: 70px;
          background-color: @theme-banner-bg;
          float: left;
          border-radius: 0.33em;
        }

        .zq-tools-item-con {
          color: @theme-gray-text;
          padding-left: 12px;
          line-height: 1.5;
          // width: 100%;
          margin-left: 70px;


          .zq-tools-item-title {
            color: @theme-text;
            font-weight: 700;
            line-height: 2;
          }

          .zq-tools-item-version {
            font-size: @normal-font-size;
          }

          .zq-tools-item-date {
            font-size: @normal-font-size;
          }
        }
      }
    }
  }

  .list-container {
    height: 300px;
  }

  .zq-slide-box {
    text-align: center;
    font-size: 20px;
    height: 100%;
  }

  .zq-swiper-slide:nth-child(2n - 1) {
    .zq-slide-box {
      background-color: black;

    }
  }
}