.zq-scroll-box {
  position: relative;
  height: 200px;
  width: 80%;
  margin: 0 auto;

  .zq-scroll-view {
    overflow: hidden;
    height: 100%;

    .zq-scroll-wrap {
      overflow: scroll;
      height: 100%;
      border: 1px solid black;
      margin-right: -17px;
      margin-bottom: -17px;

      .zq-scrollbar__bar {
        position: absolute;
        bottom: 2px;
        right: 2px;
        border-radius: 3px;
        background-color: #ccc;

        &:hover .zq-scrollbar__thumb {
          background-color: black;
          cursor: pointer;
        }

        &.zq-scrollbar__vertical {
          width: 6px;
          top: 2px;
        }

        &.zq-scrollbar__horizontal {
          height: 6px;
          left: 2px;
        }

        .zq-scrollbar__thumb {
          background-color: #999;
          border-radius: 3px;
          position: absolute;
          top: 0;
          left: 0;

          &.zq-scrollbar-thumb__horizontal {
            height: 100%;
          }

          &.zq-scrollbar-thumb__vertical {
            width: 100%;
          }
        }
      }
    }
  }
}