@import "./common/init.less";
@import "./common/color.less";
@import "./common/animation.less";

.zq-toast-box {
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 10px 15px;
  background-color: @toast-bg;
  border-radius: 10px;
  max-width: 80%;
  box-sizing: border-box;
  font-size: 14px;
  color: @white;
  .zq-toast-content {
    //toast content
  }
}

.zq-toast-box-test {
  position: static;
  display: inline-block;
  transform: translate(0, 0);
}