@--xs: 450px;
@--sm: 768px;
@--md: 992px;
@--lg: 1200px;
@--xl: 1920px;

@--breakpoints: 'common', 'xs', 'sm', 'md', 'lg', 'xl';

@--breakpoints-range: 24;

.ibm() {
  & > div, & > a, & > span, & > li {
    vertical-align: middle;
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

.clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.mediaCol(@type, @include) {
  @media only screen {
    & when (@type ='xs') {
      @media (min-width: @--xs) {
        @include();
      }
    }

    & when (@type ='sm') {
      @media (min-width: @--sm) {
        @include();
      }
    }

    & when (@type ='md') {
      @media (min-width: @--md) {
        @include();
      }
    }

    & when (@type ='lg') {
      @media (min-width: @--lg) {
        @include();
      }
    }

    & when (@type ='xl') {
      @media (min-width: @--xl) {
        @include();
      }
    }

    & when (@type ='common') {
      @include();
    }

  }
}