.ibm() {
  & > div, & > a, & > span, & > li {
    vertical-align: middle;
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

.clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.trbl() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cursor(@type) {
  cursor: @type;
}

.btnColor(@type) when (@type =default) {
  color: @main-text-default;
  border-color: @button-border-default;
  background-color: @white;
}

.btnHColor(@type) when (@type =default) {
  color: @primary;
  border-color: lighten(@primary, 26.3%);
  background-color: lighten(@primary, 33.8%);
}

.btnColor(@type) when not (@type =default) {
  color: @white;
  border-color: @@type;
  background-color: @@type;
}

.btnHColor(@type) when not (@type =default) {
  color: @white;
  border-color: lighten(@@type, 7.5%);
  background-color: lighten(@@type, 7.5%);
}

.btnStyle(@type: default, @plain: false) when (@plain =false) {
  .btnColor(@type);

  &:hover {
    .btnHColor(@type);
  }

}

.btnPlainColor(@type) when (@type =default) {
  .btnColor(@type);

  &:hover {
    .btnHColor(@type);
  }
}

.btnPlainColor(@type) when not (@type =default) {
  color: @@type;
  border-color: lighten(@@type, 26.3%);
  background-color: lighten(@@type, 33.8%);

  &:hover {
    .btnColor(@type);
  }
}

.btnStyle(@type: default, @plain: false) when (@plain =true) {
  .btnPlainColor(@type);
}

.mediaCol(@type, @include) {
  @media only screen {
    & when (@type ='xs') {
      @media (min-width: @--xs) {
        @include();
      }
    }

    & when (@type ='sm') {
      @media (min-width: @--sm) {
        @include();
      }
    }

    & when (@type ='md') {
      @media (min-width: @--md) {
        @include();
      }
    }

    & when (@type ='lg') {
      @media (min-width: @--lg) {
        @include();
      }
    }

    & when (@type ='xl') {
      @media (min-width: @--xl) {
        @include();
      }
    }

    & when (@type ='common') {
      @include();
    }

  }


}