extends ../../layout/layout.pug

block scripts
  script.
      var usingPug = '999'
      if (usingPug)
        console.log('这是明智的选择。')
      else
        console.log('请用 Pug。')

block content
  .zq-home-banner
  .zq-content
    analogInput.analogInput