@import '../../css/header.less';
@import '../../css/common/mixins.less';
@import '../../css/searchInput.less';

.zq-normal-banner {
  padding: 80px 0 30px;
  height: auto;
}

.zq-search-box {
  max-width: 88%;
}

@keyframes rotateInfinite {
  to {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

.zq-video-content {
  margin: 5px;
  background: @white;
  border-radius: @card-border-radius;
  padding: 10px 2px;
  border-left: 1px solid @color-e;
  border-top: 1px solid @color-e;
  border-right: 2px solid @color-e;
  border-bottom: 2px solid @color-e;

  .zq-search-default {
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }

  .zq-empty-history {
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }

  .zq-search-loading {
    text-align: center;
    padding: 12px;

    img.zq-loading-icon {
      width: 32px;
      animation: rotateInfinite 1s linear infinite;
      animation-delay: 0ms;
    }
  }

  .zq-v-box {
    max-width: 90%;
    min-width: 280px;
    line-height: 1.3;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;

    .zq-v-url {
      position: relative;
      display: block;
      color: @theme-text;

      .zq-v-logo {
        width: 33.3%;
        border-radius: 3px;
      }

      .zq-v-content {
        position: absolute;
        left: 33.3%;
        padding-left: 8px;
        right: 0;
        top: 0;
        bottom: 0;

        .zq-v-title {
          font-size: 14px;
          line-height: 20px;
          padding-bottom: 6px;
          color: @theme-danger-color;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          & span {
            color: @theme-gray-text;
            font-size: 12px;
            vertical-align: top;
          }

          .zq-v-sub-title {}

          .zq-v-type {
            font-size: 12px;
          }
        }

        .zq-v-character {
          font-size: 12px;
          padding: 2px 0;
          color: @theme-sub-text;

          &:after {
            content: '';
            display: block;
            clear: both;
          }

          .zq-v-label {
            color: @theme-gray-text;
            margin-right: 12px;
            vertical-align: top;
            float: left;
          }

          .zq-v-value {
            // display: inline-block;
            overflow: hidden;
            display: block;
          }

          &.zq-v-desc {
            margin-top: 6px;

            .zq-v-desc-value {
              max-height: 45px;
              overflow: hidden;
            }
          }
        }

      }
    }
  }

  .xsZpVBox() {
    .zq-v-content {
      padding: 10px;
    }

    .zq-v-box {
      padding: 20px;

      .zq-v-url {
        .zq-v-logo {}

        .zq-v-content {

          .zq-v-title {
            font-size: 20px;
            line-height: 30px;
            padding-bottom: 6px;

            & span {
              font-size: 14px;
            }

            .zq-v-sub-title {}

            .zq-v-type {
              font-size: 12px;
            }
          }


          .zq-v-character {
            font-size: 14px;
            padding: 4px 0;

            .zq-v-value {
              // width: 180px;
            }

            &.zq-v-desc {
              margin-top: 6px;

              .zq-v-desc-value {
                max-height: 91px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .smZpVBox() {
    .zq-v-box {
      padding: 20px;
      max-width: 600px;

      .zq-v-url {
        .zq-v-logo {
          width: 160px;
        }

        .zq-v-content {
          left: 180px;

          .zq-v-character {
            font-size: 14px;

            .zq-v-value {
              // width: 360px;
            }

            &.zq-v-desc {
              margin-top: 6px;

              .zq-v-desc-value {
                max-height: 110px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .mdZpVBox() {
    .zq-v-box {
      max-width: 720px;

      .zq-v-url {
        .zq-v-content {
          .zq-v-character {
            .zq-v-value {
              // width: 480px;
            }
          }
        }
      }
    }
  }

  .mediaCol('xs', .xsZpVBox());
  .mediaCol('sm', .smZpVBox());
  .mediaCol('md', .mdZpVBox());


  .video-block-box {

    .video-block {
      text-align: center;
      padding: 5px 6px;

      .video-logo-icon {
        width: 46px;

      }

      .video-logo-name {}
    }
  }
}


.common-video-box {
  padding: 20px;
}

#video-zq {
  // width: 600px;
  // height: 300px;
  // video {
  //   width: 100%;
  //   height: 100%;
  // }
}

.custom-video-box {}

@media (max-width: 1789px) {
  .media-custom-video-box {
    width: 1180px;
    height: 714px;
  }
}

@media (max-width: 1549px) {
  .media-custom-video-box {
    width: 880px;
    height: 545px;
  }
}

@media (max-width: 1280px) {
  .media-custom-video-box {
    width: 670px;
    height: 427px;
  }
}

.zq_svg_icon {
  width: 24px;
  height: 24px;
  fill: #000;
  cursor: pointer;
}

.zq_svg_fullscreen {
  &:hover {
    fill: #97aaf6;
    animation: zq_icon_scale .4s ease both;
  }
}

.zq_svg_setting {
  &:hover {
    fill: #97aaf6;
    animation: zq_icon_rotate .3s ease both;
  }
}

.zq_svg_popup {
  &:hover {
    .svg_popup_rect_fill {
      fill: #97aaf6;
    }

    .svg_popup_rect_stroke {
      stroke: #97aaf6;
    }

    animation: zq_icon_scale .3s ease both;
  }
}

@keyframes zq_icon_scale {
  0% {
    transform: scale(1);
    transform-origin: center center;
  }

  50% {
    transform: scale(1.2);
    transform-origin: center center;
  }

  100% {
    transform: scale(1);
    transform-origin: center center;
  }
}

@keyframes zq_icon_rotate {
  0% {
    transform: rotate(0);
    transform-origin: center center;
  }

  100% {
    transform: rotate(45deg);
    transform-origin: center center;
  }
}