- var { navList, toolsList, videosList } = require('src/utils/global.js');
- var lang = require('src/lang/lang.js').lang;

doctype html
html(lang="zh-cn")
  head
    block meta
      include ./meta.pug
    title= lang.nav[key].title
    block scripts
  body
    #zq
      //- block header
      //-   include ./header.pug
      block content
      block footer
        include ./footer.pug
